<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="social-media">
        <div class="email">
          <a href="mailto:renzocretecio@gmail.com" title="Email me" target="_top">
            renzocretecio@gmail.com
          </a>
        </div>
        <ul class="links">
          <li>
            <a href="https://github.com/creteciorenzo" title="creteciorenzo on github" target="_blank" rel="noopener">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.messenger.com/t/creteciorenzo" title="Renzo Cretecio on messenger" target="_blank"
              rel="noopener">
              <i class="fab fa-facebook-messenger"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com/@renzooorc" title="@renzooorc on twitter" target="_blank" rel="noopener">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/renzo-cretecio-a0b96616b/" title="Renzo Cretecio on Linkedin"
              target="_blank" rel="noopener">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>

        <div class="info">
          <p style="text-transform: uppercase;">© 2019 Renzo r. Cretecio</p>
        </div>
        <button class="scroll-up" type="button" (click)="goTop()">
          <i class="fa fa-arrow-up"></i>
        </button>
      </div>
    </div>
  </div>
</footer>
