<!-- Header start -->
<div id="site-header" class="showcase" data-nav="home">
  <!-- Home title start -->
  <div class="container" id="home">

    <div class="home-title">
      <h1>RENZO R. CRETECIO</h1>
      <h2>Your small business web solution</h2>
    </div>
    <!-- Home title end -->
    <!-- Logo start -->
    <div class="photo" title="Click me!">
      <div class="content" (click)="flip()">
        <div id="photo-logo">
          <img class="face front" src="{{img[0]}}" alt="Renzo">
          <img style="object-fit: cover;" class="face back" src="{{img[1]}}" height="529"
            sizes="(max-width: 529px) 100vw, 529px">
        </div>
      </div>
    </div>

    <!-- Logo end -->
    <!-- Intro start -->

    <div class="home-intro">
      <div class="intro-title">
        <p class="title-1">FRONT-END DEVELOPER</p>
        <p class="title-2">BACK-END DEVELOPER</p>
        <p class="title-3">WEB DESIGNER</p>
      </div>
      <div class="intro">
        <p id="text-effect">Hi, I'm a web development enthusiast that is armed with experience, learning, and passion.
        </p>
      </div>
    </div>
    <!-- Intro end -->
  </div>
</div>
<!-- Header end  -->

<!-- Main start -->
<main role="main">
  <div class="container">
    <article class="home-about" data-nav="about" id="about">
      <header class="about-header">
        <h1 class="about-title">ABOUT</h1>
      </header>
      <div class="content">
        <p>I am an aspiring full-stack developer currently living in Muntinlupa City. Professional experienced in making
          RESTful API and Angular application. Familiar with object-oriented programming and MVC and also experienced in
          making Spring boot and Angular application.</p>
        <p>I use HTML, CSS, JAVASCRIPT often, usually with JQUERY and BOOTSTRAP with a foundation in problem-solving and
          web layout design.
        </p>
        <p>Feel free to take a look at my projects on the <i>Projects</i> page.</p>
      </div>


    </article>
  </div>
</main>
<!-- Main end -->
