<!-- Header start -->
<div id="site-header" class="showcase" data-nav="home">
  <!-- Home title start -->
  <div class="container" id="home">

    <div class="home-title">
      <h1>RENZO R. CRETECIO</h1>
      <h2>Your small business web solution</h2>
    </div>
    <!-- Home title end -->
    <!-- Logo start -->
    <div class="photo" title="Hello, It's me!">
      <div class="content">
        <div id="photo-logo">
          <img class="face front" src="{{img[0]}}" alt="Renzo">
          <img style="object-fit: cover;" class="face back" src="{{img[1]}}" height="529"
            sizes="(max-width: 529px) 100vw, 529px">
        </div>
      </div>
    </div>

    <!-- Logo end -->
    <!-- Intro start -->

    <div class="home-intro">
      <div class="intro-title">
        <div id="title">
          <p class="title-1">FRONT-END DEVELOPER</p>
          <p class="title-2">BACK-END DEVELOPER</p>
          <p class="title-3">WEB DESIGNER</p>
        </div>
      </div>
      <div class="intro">
        <p id="text-effect">Hi, I'm a web development enthusiast that is armed with experience, learning, and passion.
        </p>
      </div>
      <div class="read-more">

      </div>
    </div>
    <!-- Intro end -->
  </div>
</div>
<!-- Header end  -->

<app-about></app-about>

<footer>
  <app-footer></app-footer>
</footer>
