<!-- Main start -->
<main role="main">
  <div class="body-container">
    <article class="home-about" data-nav="about" id="about" [ngStyle]="{opacity: isTrue === true ? '1' : '0'}">
      <header class="about-header">
        <h1 class="about-title">ABOUT</h1>
      </header>
      <div class="content">
        <p>I am an aspiring full-stack developer currently living in Muntinlupa City. Professional experienced in making
          RESTful API and Angular application. Familiar with object-oriented programming and MVC and also experienced in
          making Spring boot and Angular application.</p>
        <p>I use HTML, CSS, JAVASCRIPT often, usually with JQUERY and BOOTSTRAP with a foundation in problem-solving and
          web layout design.
        </p>
        <p>Feel free to take a look at my projects on the <i>Projects</i> page.</p>
      </div>


    </article>
  </div>
</main>
<!-- Main end -->
